#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
                &kp TAB    &kp Q  &kp W  &kp E     &kp R      &kp T        &kp Y    &kp U      &kp I      &kp O    &kp P    &kp BSPC
                &kp LCTRL  &kp A  &kp S  &kp D     &kp F      &kp G        &kp H    &kp J      &kp K      &kp L    &kp SCLN &kp QUOT
                &kp LSFT   &kp Z  &kp X  &kp C     &kp V      &kp B        &kp N    &kp M      &kp COMMA  &kp DOT  &kp SLASH &kp ESC
                &kp LGUI   &mo lower  &kp SPACE   &kp ENTER  &mo raise    &kp RALT
            >;
        };

        lower {
            label = "Lower";
            bindings = <
                &kp GRAVE  &kp 0    &kp 1     &kp 2  &kp 3  &kp 4    &kp 5    &kp 6    &kp 7  &kp 8     &kp 9  &kp DEL
                &kp HOME   &kp UP   &kp END   &trans &trans &trans   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans  &trans
                &kp LEFT   &kp DOWN &kp RIGHT &trans &trans &trans   &trans   &trans   &trans &trans    &trans  &trans
                &trans     &to adjust &trans   &trans &trans &trans
            >;
        };

        raise {
            label = "Raise";
            bindings = <
                &kp ESC  &kp EXCL  &kp AT  &kp HASH  &kp DLR  &kp PERC    &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR   &kp BSPC
                &trans   &trans    &trans  &trans    &trans   &trans      &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH  &trans     &trans
                &trans   &trans    &trans  &trans    &trans   &trans      &kp PLUS   &kp LCBR  &kp RCBR   &kp PIPE  &kp TILDE  &trans
                &trans   &to adjust &trans &trans    &trans   &trans
            >;
        };

        adjust {
            label = "Adjust";
            bindings = <
                &bootloader  &kp 7  &kp 8  &kp 9  &trans   &trans    &kp F7  &kp F8  &kp F9  &trans  &trans  &trans
                &trans       &kp 4  &kp 5  &kp 6  &trans   &trans    &kp F4  &kp F5  &kp F6  &trans  &trans  &trans
                &kp 0        &kp 1  &kp 2  &kp 3  &kp DOT  &trans    &kp F1  &kp F2  &kp F3  &trans  &trans  &trans
                &trans       &trans &trans &trans  &trans  &trans
            >;
        };
    };
};
